<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>D&D Character HP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">  
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/main_script.js"></script>
  </head>

  <body>
   <!--   create clickable image-->
    <a href="#" onClick="char_window=window.open(character_sheet,
    'char_window','width=400,height=800');">
    <!--html gets portrait from here--><!--id="char-url" comes from main_script.js-->
    <img class="character-portrait" id="image-url" > </img>
    </a>
    <div class="character-hp-bar">
      <div class="hp-gauge">
        <div class="hp-bar" id="hp-bar">
        </div>
      </div>
    </div>

    <script>
      setup("{{cid}}", "{{base_url}}");
    </script>
  </body>
</html>